<a href="https://colab.research.google.com/github/srinijadharani/Python-for-ML-and-DS/blob/master/Day2(Pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PANDAS**<br>
1. Open source library built on top of NumPy
2. Fast analysis and data cleaning and preparation
3. Excels in performance and productivity
4. Built-in visualisation features

**SERIES**<br>
This data type is very similar to NumPy arrays and in fact, it is built on top of a NumPy array object. But the main difference is that series can have access labels.

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ["a","b","c"]
my_data = [10,20,30]
arr = np.array(my_data)
d = {"ten":10,"twenty":20,"thirty":30}

In [4]:
pd.Series(data = my_data) #data is a keyword here. It is an attribute

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(d)

ten       10
twenty    20
thirty    30
dtype: int64

In [9]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data=labels) #Series can hold any data type.

0    a
1    b
2    c
dtype: object

In [11]:
pd.Series(data = [sum,len,print]) #this holds the references to the built-in functions

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [12]:
ser1 = pd.Series([1,2,3,4],["Hello","Hola","Ciao","Bonjour"])

In [13]:
ser1

Hello      1
Hola       2
Ciao       3
Bonjour    4
dtype: int64

In [14]:
ser2 = pd.Series([1,2,3,4],["Hello","Hallo","Ciao","Bonjour"])
ser2

Hello      1
Hallo      2
Ciao       3
Bonjour    4
dtype: int64

In [15]:
ser1 +ser2

Bonjour    8.0
Ciao       6.0
Hallo      NaN
Hello      2.0
Hola       NaN
dtype: float64

Pandas and NumPy while working together, convert integers into floating point values.

## **DATAFRAMES**

**DATAFRAMES_1**

In [16]:
import numpy as np
import pandas as pd

In [17]:
from numpy.random import randn

Seed function is used to save the state of a random function, so that it can generate same random numbers on multiple executions of the code on the same machine or on different machines (for a specific seed value).

In [18]:
np.random.seed(101)

In [19]:
df = pd.DataFrame(randn(5,4),["A","B","C","D","E"],["W","X","Y","Z"]) #manually creating a DataFrame

In [20]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [21]:
df["W"]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [22]:
type(df["W"])

pandas.core.series.Series

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
df[["W","Z"]]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [25]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [26]:
df["X+Y"] = df["X"] + df["Y"]

In [27]:
df

          W         X         Y         Z       X+Y
A  2.706850  0.628133  0.907969  0.503826  1.536102
B  0.651118 -0.319318 -0.848077  0.605965 -1.167395
C -2.018168  0.740122  0.528813 -0.589001  1.268936
D  0.188695 -0.758872 -0.933237  0.955057 -1.692109
E  0.190794  1.978757  2.605967  0.683509  4.584725

In [28]:
df.drop("X+Y", axis=1) #this is not permanent. the X+Y column will still be showing even after dropping it in this cell

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [29]:
df

          W         X         Y         Z       X+Y
A  2.706850  0.628133  0.907969  0.503826  1.536102
B  0.651118 -0.319318 -0.848077  0.605965 -1.167395
C -2.018168  0.740122  0.528813 -0.589001  1.268936
D  0.188695 -0.758872 -0.933237  0.955057 -1.692109
E  0.190794  1.978757  2.605967  0.683509  4.584725

In [30]:
df.drop("X+Y", axis=1, inplace = True) #inplace allows us to permamently delete a column.

In [31]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [32]:
df.shape #returns a tuple

(5, 4)

In [33]:
df.loc["A"] #this is the first method of displaying rows. pass in the string or the character by which the row is denoted by.
            #location based index

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [34]:
type(df.loc["A"])  #this shows that not only columns are series, but rows are too.

pandas.core.series.Series

In [35]:
df.iloc[2] #pass in the index of the row you want to display. this is the second method of displaying rows. Numerical based index

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [36]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [37]:
df.loc["D"]["Z"] #always [rows][columns]

0.9550565092637361

In [38]:
df.loc[["A","D"],["W","Y"]] #A and D are the rows and W and Y are the columns

          W         Y
A  2.706850  0.907969
D  0.188695 -0.933237

**Creating another DF and performing various operations.**

In [39]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [40]:
np.random.seed(101)

In [41]:
df = pd.DataFrame(randn(3,2),["BEEE","CE","DS"],["A","B"])

In [42]:
df

             A         B
BEEE  2.706850  0.628133
CE    0.907969  0.503826
DS    0.651118 -0.319318

In [43]:
#display all the values possessed by A (series)
df["A"]

BEEE    2.706850
CE      0.907969
DS      0.651118
Name: A, dtype: float64

In [44]:
#display all the values possessed by B
df["B"]

BEEE    0.628133
CE      0.503826
DS     -0.319318
Name: B, dtype: float64

In [45]:
#display the value possessed by A in BEEE
df.loc["BEEE","A"]

2.706849839399938

In [46]:
#display the values stored in BEEE
df.loc["BEEE"]

A    2.706850
B    0.628133
Name: BEEE, dtype: float64

In [47]:
#display CE and DS values possessed by A and B
df.loc[["CE","DS"],["A","B"]]

           A         B
CE  0.907969  0.503826
DS  0.651118 -0.319318

**DATAFRAMES_2**

In [48]:
import numpy as np
import pandas as pd

In [49]:
np.random.seed(101)
df = pd.DataFrame(randn(5,4),["A","B","C","D","E"],["W","X","Y","Z"])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [50]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [51]:
df < 0

       W      X      Y      Z
A  False  False  False  False
B  False   True   True  False
C   True  False  False   True
D  False   True   True  False
E  False  False  False  False

In [52]:
booldf = df > 0
booldf

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [53]:
df[booldf] #this will return the actual values where it's true and null (NaN) where it's false

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [54]:
df["W"] > 0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [55]:
df[df["W"] > 0] #this doesn't display the row that shows false in the 'W'th column.

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [56]:
df[df > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [57]:
#display all the rows in df where z < 0
df[df["Z"] < 0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [58]:
resultdf = df[df["W"] > 0]

In [59]:
resultdf

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [60]:
resultdf["Y"]

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [62]:
df[df["W"] > 0]["Y"] #same as the above

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [67]:
df[df["W"] > 0][["X","Y"]]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [68]:
boolser = df["W"] > 0
result = df[boolser]
columns = ["X","Y"]
result[columns]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [69]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [72]:
#to display the columns W and Y where Y is positive
df[df["Y"] > 0][["W","Y"]]

          W         Y
A  2.706850  0.907969
C -2.018168  0.528813
E  0.190794  2.605967

If you want to check multiple conditions in a DataFrame, don't use the 'and' operator. 'and' operator works only when there are two boolean values. But the output we are generating is series. So, a series has so many True and False values. 'and' doesn't work then. So, instead, we can use the & operator. Similarly instead of 'or' operator, use |.

In [74]:
w_column = df["W"] > 0
y_column = df["Y"] > 1
res = df[(w_column) & (y_column)]
res

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [75]:
df[(df["W"] > 0) & (df["Y"] > 1)] #same as above

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [77]:
df[(df["W"] > 0) | (df["Y"] > 1)] #opposite of the above

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [78]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [82]:
df.reset_index() #this resets the index as the normal range (0 to n). 
#this doesn't occur normally unless specified using inplace = True.

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [83]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [85]:
df.set_index("Z") #now Z is the new index

                  W         X         Y
Z
 0.503826  2.706850  0.628133  0.907969
 0.605965  0.651118 -0.319318 -0.848077
-0.589001 -2.018168  0.740122  0.528813
 0.955057  0.188695 -0.758872 -0.933237
 0.683509  0.190794  1.978757  2.605967

In [86]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509