<a href="https://colab.research.google.com/github/srinijadharani/Python-for-ML-and-Data-Science/blob/master/Day2(Pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PANDAS**<br>
1. Open source library built on top of NumPy
2. Fast analysis and data cleaning and preparation
3. Excels in performance and productivity
4. Built-in visualisation features

**SERIES**<br>
This data type is very similar to NumPy arrays and in fact, it is built on top of a NumPy array object. Bute the main difference is that series can have access labels.

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [10]:
labels = ["a","b","c"]
my_data = [10,20,30]
arr = np.array(my_data)
d = {"ten":10,"twenty":20,"thirty":30}

In [11]:
pd.Series(data = my_data) #data is a keyword here. It is an attribute

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(d)

ten       10
twenty    20
thirty    30
dtype: int64

In [16]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [18]:
pd.Series(data=labels) #Series can hold any data type.

0    a
1    b
2    c
dtype: object

In [20]:
pd.Series(data = [sum,len,print]) #this holds the references to the built-in functions

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [21]:
ser1 = pd.Series([1,2,3,4],["Hello","Hola","Ciao","Bonjour"])

In [22]:
ser1

Hello      1
Hola       2
Ciao       3
Bonjour    4
dtype: int64

In [23]:
ser2 = pd.Series([1,2,3,4],["Hello","Hallo","Ciao","Bonjour"])
ser2

Hello      1
Hallo      2
Ciao       3
Bonjour    4
dtype: int64

In [24]:
ser1 +ser2

Bonjour    8.0
Ciao       6.0
Hallo      NaN
Hello      2.0
Hola       NaN
dtype: float64

Pandas and NumPy when working togther, convert integers into floating point values.